<div id="q1" class="row questionrow">
	<div class="col-sm-5">
		<button class="panel panel-default ans-1">
		<div class="panel-body text-center">
			<h4 class="text-success qs1">Saya seorang pekerja keras.</h4>
		</div>
		</button>
	</div>
	<div class="col-sm-2">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h4 class="text-success">Atau</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<button class="panel panel-default ans-2">
		<div class="panel-body text-center">
			<h4 class="text-success qs2">Saya bukan seorang pemurung.</h4>
		</div>
		</button>
	</div>
</div>