<div id="content" class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h4 class="text-success">Pilih salah satu di antara pernyataan berikut yang paling mencerminkan diri anda</h4>
				<h4 class="text-success">Good Luck!</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				40%
			</div>
		</div>
	</div>
	<div id="qtemplate">
		<div id="q1" class="row questionrow">
			<div class="col-sm-5">
				<button class="panel panel-default">
				<div class="panel-body text-center">
					<h4 class="text-success">Saya seorang pekerja keras.</h4>
				</div>
				</button>
			</div>
			<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h4 class="text-success">Atau</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<button class="panel panel-default">
				<div class="panel-body text-center">
					<h4 class="text-success">Saya bukan seorang pemurung.</h4>
				</div>
				</button>
			</div>
		</div>
		<div id="q2" class="row questionrow hidden">
			<div class="col-sm-5">
				<button class="panel panel-default">
				<div class="panel-body text-center">
					<h4 class="text-success">Saya seorang 2.</h4>
				</div>
				</button>
			</div>
			<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h4 class="text-success">Atau</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<button class="panel panel-default">
				<div class="panel-body text-center">
					<h4 class="text-success">Saya bukan 2.</h4>
				</div>
				</button>
			</div>
		</div>
	</div>
	<div id="answers" class="hidden"></div>
	
</div>