<div id="content" class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h4 class="text-success">Pilih salah satu di antara pernyataan berikut yang paling mencerminkan diri anda</h4>
				<h4 class="text-success">Good Luck!</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				40%
			</div>
		</div>
	</div>
	<div id="qtemplate">
		
		
	</div>
	
	
</div>